<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
<div class='container-fluid form-wrap'>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
      <div class='form-header'>
        <b>会員情報編集</b>
      </div>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="form-group-top">
        <div class='form-text-wrap'>
          <label class="form-text">ニックネーム</label>
          <span class="badge bg-warning">必須</span>
        </div>
        <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) cycle太郎", maxlength:"20" %>
        <p class='info-text'>※最大20文字まで</p>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="badge bg-warning">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
      </div>
      <div class='register-btn'>
        <%= f.submit "ユーザー情報を変更" ,class:"register-red-btn" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render "shared/footer"%>
