<div class="post-show">
  <div class="first-show">
    <p class="post-destination">目的地：<%= article.title %></p>
    <% if user_signed_in? && current_user.id == article.user_id %>
      <div class="bar-btn", id="bar">
        ...
        <ul class="bar-contents", id="pull-down" role="menu">
          <li class="bar-list", role="presentation">
            <%= link_to '詳細', article_path(article.id),method: :get, class: "list-btn" %>
          </li>
          <li class="bar-list" role="presentation">
            <%= link_to '編集', edit_article_path(article.id), class: "list-btn" %>
          </li>
          <li class="bar-list" role="presentation">
            <%= link_to '削除', article_path(article.id), method: :delete, class: "list-btn" %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="second-show">
    <div><%= article.prefecture.name %></div>
    <div class="distance-show"><%= article.distance %><p class="distance-unit-show">km</p></div>
  </div>
  <p><%= article.content %></p>
  <div class="bottom-show">
    <div class="like">
      <div class="like-count">
        <%= article.likes.count %>
      </div>
      <div>
        <% if current_user.like_judge(article) %>
          <%= button_to "いいねを取り消す", article_like_path(article.id, article.likes.ids), method: :delete, class: "like-btn" %>
        <% else %>
          <%= button_to "いいね", article_likes_path(article.id), method: :post, class: "like-btn" %>
        <% end %>
      </div>
    </div>
    <div class = "name">
      <%= link_to article.user.nickname, user_path(article.user_id), class: "post-user"%>
    </div>
  </div>
</div>