<div class="post-all">
  <div class="post-text">

    <div class="first-show">
      <div class="first-show-left">
        <% unless current_page?(article_path(article.id)) %>
          <b><%= link_to article.title, article_path(article.id), class: "post-title-btn" %></b>
        <% else %>
          <b><%= article.title %></b>
        <% end %>
        <div class="post-time"><%= l article.created_at, format: :short %></div>
      </div>
      <% if user_signed_in? && current_user.id == article.user_id %>
      <div class="bar-btn", id="bar">
        ...
        <ul class="bar-contents", id="pull-down" role="menu">
          <li class="bar-list" role="presentation">
            <%= link_to '編集', edit_article_path(article.id), class: "list-btn" %>
          </li>
          <li class="bar-list" role="presentation">
            <%= link_to '削除', article_path(article.id), method: :delete, class: "list-btn" %>
          </li>
        </ul>
      </div>
      <% end %>
    </div>

    <div class="d-lg-block d-none">
      <div class="post-show">
      <% if article.image.attached? %>
        <div class="main-show1">
      <% else %>
        <div class="main-show2">
      <% end %>
        <div class="second-show">
          <div><%= article.prefecture.name %></div>
          <div class="distance-show"><%= article.distance %><p class="distance-unit-show">km</p></div>
        </div>
        <div class="content-show">
          <%= safe_join(article.content.split("\n"), tag(:br)) %>
        </div>
        </div>
      <% if article.image.attached? %>
        <div class="post-image d-none d-lg-block">
          <%= link_to article_path(article.id), class: "index-image" do%>
            <div><b><%= article.image_title %></b></div>
            <div><%= image_tag(article.image.variant(resize: '200x200')) %></div>
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
  

    <div class="d-lg-none">
      <div class="main-show3">
        <div class="second-show">
            <div><%= article.prefecture.name %></div>
            <div class="distance-show"><%= article.distance %><p class="distance-unit-show">km</p></div>
        </div>
        <div class="content-show">
          <%= safe_join(article.content.split("\n"), tag(:br)) %>
        </div>
      </div>
    </div>
  
  </div>

  <div class="bottom-show">
    <div class="bottom-left", id="article_<%= article.id %>">
      <%= render partial: "likes/like", locals: {article: article} %>
      <div class="d-lg-none">
        <% if article.image.attached? %>
          <%= link_to '詳細', article_path(article), class:"show-link" %>
          <%= link_to '(画像あり)', article_path(article), class:"show-link-image" %>
        <% else %>
          <%= link_to '詳細', article_path(article), class:"show-link" %>
        <% end %>
      </div>
    </div>
    <div class = "bottom-right">
      <%= link_to article.user.nickname, user_path(article.user_id), class: "post-user"%>
    </div>
  </div>

</div>