<div class="container-fluid">
  <div class="row">
    <div class="col-10 post-show">
      <div class="first-show">
        <div class="post-title">
          <% unless current_page?(article_path(article.id)) %>
            <b><%= link_to article.title, article_path(article.id), class: "post-title-btn" %></b>
          <% else %>
            <b><%= article.title %></b>
          <% end %>
        </div>
        <% if user_signed_in? && current_user.id == article.user_id %>
          <div class="bar-btn", id="bar">
            ...
            <ul class="bar-contents", id="pull-down" role="menu">
              <li class="bar-list" role="presentation">
                <%= link_to '編集', edit_article_path(article.id), class: "list-btn" %>
              </li>
              <li class="bar-list" role="presentation">
                <%= link_to '削除', article_path(article.id), method: :delete, class: "list-btn" %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="second-show">
        <div><%= article.prefecture.name %></div>
        <div class="distance-show"><%= article.distance %><p class="distance-unit-show">km</p></div>
      </div>
      <div class="content-show">
        <%= safe_join(article.content.split("\n"), tag(:br)) %>
      </div>
      <div class="bottom-show">
        <div class="like", id="article_<%= article.id %>">
          <%= render partial: "likes/like", locals: {article: article} %>
        </div>
        <div class = "bottom-right">
          <%= link_to article.user.nickname, user_path(article.user_id), class: "post-user"%>
        </div>
      </div>
    </div>
  </div>
</div>