<%= form_with model: article, id: "article-post", local: true do |f| %>
  <div class="post-error">
    <%= render 'shared/error_messages', model: f.object %>
  </div>
  <div class="post-form">
    <%= f.text_field :title, class: "short-text", placeholder: "タイトル (15字以内)" %>
    <div class="post-second">
      <div class="prefecture-form">
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"post-prefecture"}) %>
      </div>
      <div class="distance-form">
        <%= f.text_field :distance, class: "distance-text", placeholder: "走行距離" %>
        <div class="distance-unit">km</div>
      </div>
    </div>
    <div class="post-content">
      <%= f.text_area :content, class: "long-text", placeholder: "できごと (150字以内)" %>
    </div>
    <div class="image-form">
      <div class="image-post-label">画像を投稿<span class="badge bg-secondary badge-info">任意</span></div>
      <div class="image-title">
        <%= f.text_field :image_title, class: "short-text", placeholder: "画像タイトル (15字以内)" %>
      </div>
      <div class="image-field">
        <%= f.file_field :image %>
        <div id="preview-box"></div>
      </div>
    </div>
  </div>

  <div class="form-btn-contents">
    <%= f.submit "投稿する", class: "form-btn" %>
    <div class="btn-div"><%=link_to 'もどる', root_path, class: "back-btn" %></div>
  </div>
<% end %>