<%= render "/shared/header"%>

<div class="container-fluid main-page">
  <div class="row">
    <div class="col-lg-3 offset-lg-0 offset-sm-4 offset-3 search-list">
      <%= search_form_for @q, url: search_articles_path, class: "search-form" do |f| %>
        <%= render partial: "search", locals: {f: f} %>
      <% end %>
    </div>
    <div class="col-lg-9 offset-lg-0 offset-1 post-list">
      <% @articles.each do |article| %>
        <%= render partial: "article", locals: {article: article}%>
      <% end %>
      <%= paginate @articles %>
    </div>
  </div>
</div>

<%= render "/shared/footer"%>