<%= render "/shared/header"%>

<div class="post-page">
  <div class="post-main">
    <%= form_with model: @article, id: "article-post", local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <%= render partial: 'post', locals: {f: f} %>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>