<%= render "/shared/header"%>

<div class="main-page", id="main">
  <div class="search-list">
    <%= search_form_for @q, url: search_articles_path, class: "search-form" do |f| %>
      <%= render partial: "search", locals: {f: f} %>
    <% end %>
  </div>
  <div class="post-list">
    <% @results.each do |result| %>
      <%= render partial: "article", locals: {article: result}%>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>