<%= render "/shared/header"%>

<div class="main-page", id="main">
  <div class="search-list">
    <%= form_with url: search_articles_path, local: true, method: :get, class: "search-form" do |f| %>
      <%= f.text_field :keyword, placeholder: "目的地で検索", class: "search-box" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
  </div>
  <div class="post-list">
    <% @articles.each do |article| %>
      <%= render partial: "article", locals: {article: article}%>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>