<%= render "/shared/header"%>

<div class="show-main">
  <div class="show-post">
    <%= render partial: "articles/article", locals: {article: @article}%>
  </div>
  <div class="comment-form">
    <%= form_with model: [@article, @comment], url: article_comments_path, local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      <div class="comment-main">
        <%= f.text_area :message, placeholder: "コメントする", class: "comment-text" %>
        <%= f.submit '送信', class: "comment-btn" %>
      </div>
    <% end %>
  </div>
  <div class="comment-lists">
    <p class=comment-lists-label>コメント一覧</p>
    <% @comments.each_with_index do |comment, idx| %>
      <div class="comment-show">
        <div class="commnet-show-message">
          <%= idx + 1 %>.<%= comment.message %>
        </div>
        <div class="comment-show-name">
        <%= link_to comment.user.nickname, user_path(comment.user), class: "comment-user"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>