<%= render "/shared/header"%>

<div class="mypage">
  <div class="mypage-search">
    <%= search_form_for @q, url: search_user_path, class: "search-form" do |f| %>
      <%= render partial: "/articles/search", locals: {f: f} %>
    <% end %>
  </div>
  <div class="mypage-post">
    <div class="mypage-name">
      <b><%= link_to @user.nickname, user_path(@user), class: "mypage-user-name" %></b>さんの投稿検索結果
    </div>
    <% @results.each do |article| %>
      <%= render partial: "/articles/article", locals: {article: article}%>
    <% end %>
  </div>
</div>

<%= render "/shared/footer"%>