<%= render "/shared/header"%>

<div class="container-fluid mypage">
  <div class="row">
    <div class="col-lg-3 offset-lg-0 offset-sm-4 offset-3 mypage-search">
      <%= search_form_for @q, url: search_user_path, class: "search-form" do |f| %>
        <%= render partial: "/articles/search", locals: {f: f} %>
      <% end %>
    </div>
    <div class="col-lg-9 offset-lg-0 offset-md-2 offset-sm-1 offset-0 mypage-post">
      <div class="mypage-top">
        <div class="mypage-name"><b><%= @user.nickname %></b>さんの投稿一覧</div>
        <% if user_signed_in? && current_user.id == @user.id && current_user.nickname != "ゲスト" %>
          <%= link_to '登録情報の変更', edit_user_registration_path(current_user), class: "mypage-edit" %>
        <% end %>
      </div>
      <div class="post-sort">
        <p class="sort-label">並び替え</p>
        <%= link_to "投稿日時順", user_path, class: "sort-list" %>
        <%= link_to "いいねが多い順", user_path(key: 1), class: "sort-list" %>
      </div>
      <% @articles.each do |article| %>
        <%= render partial: "/articles/article", locals: {article: article}%>
      <% end %>
      <%= paginate @articles %>
    </div>
  </div>
</div>

<%= render "/shared/footer"%>